@media screen and (max-width: 644px) {
div.header{
	float:none;
	}
.phone_mobile{
	display:inline-block !important;
	}	
.phone_desktop{
	display:none !important;
	}
div.inner {
	height: auto;
	margin: 0 auto;
	padding: 0 1%;
	text-align: center;
	width: 98%;
	min-width:50%;
	}	
h1{
	text-align:center;
	}
img.logo_top{
	height: auto;
	width:100%;
	max-width:237px;
	float:none;
	margin-top:10px !important;
	}	
.reSizeImg{
	max-width:100%;
	}
img.banner_img,div.banner{
	display:none;
	}
div.content{
	float:none;
	width:100%;
	}
div.aside{
	float:none;
	margin:0 auto;
	}
div.footer{
	background:url(../images/bg_footer.jpg) repeat left top;
	height:auto;
}
.header_right{
	float:none;
	width:100%;
	max-width: 218px;
	margin: 0 auto;
	}	
}
@media only screen and (min-width: 480px) and (max-width: 690px) {

}