@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

caption {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a {
    text-decoration: none;
    font-family: 'Myriad Pro Regular', Meiryo, sans-serif;
}

a img {
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    color: #333333;
    font-family: 'Myriad Pro Regular', Meiryo, sans-serif;
    font-size: 11px;
    background: #fff;
}


/*general*/

p {
    line-height: 1.6em;
}

strong {
    font-weight: bold;
}

a img:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
    min-width: 960px;
    max-width: 960px;
    position: relative;
    clear: both;
    text-align: left;
    overflow: hidden;
}

.phone_desktop {
    font-weight: normal;
}

.phone_mobile {
    display: none;
    font-weight: normal;
}


/*end general*/


/*header*/

div.header {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
}

h1 {
    color: #333333;
    font-size: 15px;
    width: 49%;
    margin: 50px auto 0;
    font-weight: bold;
    float: left;
    text-align: center;
    font-style: italic;
}

a.logo_top {
    overflow: hidden;
    display: block;
    width: 271px;
    height: 67px;
    margin: 20px 0 25px;
    float: left;
}

img.logo_top {
    width: 271px;
    height: 67px;
}

.header_right {
    float: right;
    width: 215px;
    margin-top: 10px;
}

.language {
    text-align: right;
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.header_right>img {
    float: left;
}

.header_right p {
    padding-left: 45px;
    font-size: 12px;
    color: #0072bc;
    text-transform: uppercase;
}

.header_right p.no-phone {
    font-size: 21px;
    color: #333333;
}


/*end header*/


/*menu*/

div.nav {
    width: 100%;
    display: inline-block;
    position: relative;
    float: left;
    background: #0072bc;
}

div.menu {
    margin: 0 auto;
    width: 100%;
    min-width: 960px;
    max-width: 960px;
}

div.menu ul {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

div.menu ul li {
    float: left;
    margin: 0 5px;
    position: relative;
}

div.menu ul li a {
    width: 100%;
    text-align: center;
    display: block;
    float: left;
    position: relative;
    color: #ffffff;
    font-size: 14px;
    vertical-align: middle;
    padding: 15px 5px;
}

div.menu ul li a img {
    vertical-align: middle;
    margin-right: 10px;
    padding-bottom: 5px;
}

div.menu ul li a:hover,
div.menu ul li.current_page_item a{
    background: #66B0E0;
}

div.menu ul li a:hover img,
div.menu ul li.current_page_item a img {
    opacity: 1;
}

div.menu ul li ul {
    display: none;
    position: absolute;
    background: #0072bc;
    width: 170px;
    top: 52px;
    z-index: 200;
}

div.menu ul li:hover ul {
    display: block;
}

div.menu ul li:hover ul li {
    float: none;
    margin: 0;
    text-align: left;
    border-top: 1px solid #FFFFFF;
}

div.menu ul li:hover ul li a {
    float: none;
    text-align: left;
    width: auto;
    padding: 8px 15px;
}


/*end menu*/


/*banner*/

div.banner {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 960px;
    clear: both;
}

div.banner .bx-wrapper {
    margin-bottom: 0;
}

div.banner .bx-wrapper .ewic-caption {
    background: #ffffff;
    color: #333333;
    width: 40%;
    bottom: 60px;
    display: none;
}

div.banner .bx-wrapper .ewic-caption span {
    color: #333333;
    font-size: 18px;
    background: url(../images/line-banner.jpg) no-repeat 10px 10px;
    text-align: left;
    padding-left: 30px;
}


/*end banner*/


/*content*/

div.content {
    height: auto;
    width: 100%;
    margin-top: 10px;
}

div.article_index {
    width: 100%;
    height: auto;
}

h3.h3-service {
    font-size: 21px;
    color: #333333;
    background: url(../images/icon-service.png) no-repeat left center;
    padding-left: 30px;
    margin-bottom: 15px;
}

h3.h3-service span {
    color: #147dc1;
    font-weight: bold;
}

.ct-service {
    margin-bottom: 20px;
}

ul.ct-service li {
    display: inline-block;
    width: 230px;
    vertical-align: top;
    margin-right: 7px;
}

ul.ct-service li:last-child {
    margin-right: 0;
}

ul.ct-service li p {
    font-size: 11px;
    color: #999999;
    text-align: center;
}

ul.ct-service li img {
    width: 230px;
    height: 130px;
}

ul.ct-service li p.title {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: #333333;
}

.intro>div {
    display: inline-block;
    vertical-align: top;
    width: 310px;
    margin-right: 9px;
}

.intro>div:last-child {
    margin-right: 0;
}

.intro {
    margin-bottom: 30px;
}

.choose_us {
    border: 1px solid #ececec;
}

.intro h3 {
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    padding: 15px 0 15px 40px;
}

.intro h3 {
    background: url(../images/h3-line-blue.jpg) no-repeat bottom left, url(../images/h3-line-gray.jpg) repeat-x bottom left;
    padding: 10px 0;
    margin-bottom: 15px;
}

.intro h3>span {
    padding-left: 40px;
    display: block;
}

.choose_us h3>span {
    background: url(../images/icon-us.png) no-repeat 10px center;
}

.the_news-index h3 span {
    background: url(../images/icon-news.png) no-repeat 5px center;
}

.diploma h3 span {
    background: url(../images/icon-dip.png) no-repeat 5px center;
}

.diploma h3 span.bag {
    background: url(../images/icon-bag.png) no-repeat 5px center;
}

.the_news-index ul li {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

.the_news-index ul li:last-child {
    margin-bottom: 0;
}

.the_news-index ul li img {
    float: left;
    margin-right: 10px;
    width: 76px;
    height: 72px;
}

.the_news-index ul li p {
    color: #333333;
}

.the_news-index ul li p.title {
    font-weight: bold;
    font-size: 12px;
}

.diploma ul {
    padding: 10px;
    border: 1px solid #ececec;
    overflow: hidden;
    margin-bottom: 10px;
}

.diploma ul li {
    float: left;
    margin-right: 15px;
}

.diploma ul li:last-child {
    margin-right: 0;
}

.diploma ul li img {
    display: block;
    width: 85px;
    height: 100px;
}

.diploma>a>img {
    max-width: 100%;
}

.choose_us img {
    display: block;
    margin: 0 auto 10px;
    width: 110px;
    height: 100px;
}

.choose_us p {
    padding: 0 7px 10px 7px;
}

.choose_us p.title {
    font-weight: bold;
}

.customer {
    background: #fafafa;
}

.customer h3 {
    background: url(../images/icon-customer.png) no-repeat 5px center;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    padding: 30px 0 30px 50px;
}

.customer ul li {
    display: inline-block;
    margin-right: 25px;
}

.customer ul li:last-child {
    margin-right: 0;
}

h3.h3-content,
h3.h3-acti {
    background: url(../images/h3-line-blue.jpg) no-repeat bottom left, url(../images/h3-line-gray.jpg) repeat-x bottom left;
    padding: 15px 0;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
}

div.content-other {
    width: 710px;
    float: right;
}

div.ct-intro p.txt-title {
    font-weight: bold;
    font-size: 15px;
}

div.ct-intro p {
    font-size: 13px;
    margin-bottom: 25px;
}

div.ct-intro ul {
    margin-bottom: 15px;
}

div.ct-intro ul li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

div.ct-intro ul li:nth-child(even) {
    margin-right: 0;
}

.the_news_page li {
    display: block;
    padding: 2%;
    border: 1px solid #e6e6e6;
    margin-right: 16px;
    margin-bottom: 26px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #F7F7F7;
    overflow: hidden;
}

.the_news_page li a {
    display: block;
    overflow: hidden;
}

.the_news_page li img {
    float: left;
    width: 250px;
    height: 160px;
}

.the_news_page li div {
    padding-left: 280px
}

.the_news_page li div p.ct_new_title {
    font-weight: bold;
    font-size: 15px;
}

.the_news_page li div p {
    font-size: 13px;
    color: #000000;
}

.activity li {
    display: inline-block;
    margin-right: 28px;
    margin-bottom: 28px;
    width: 268px;
}

.activity li:nth-child(4n) {
    margin-right: 0;
}

.activity li img {
    width: 100%;
    margin-bottom: 15px;
}

.ct-customer li {
    display: inline-block;
    width: 207px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #F7F7F7;
    vertical-align: top;
    text-align: center;
}

.ct-customer li a {
    display: block;
}

.ct-customer li:nth-child(4n) {
    margin-right: 0;
}

.ct-customer li img {
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 135px;
}

.ct-customer li p {
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.the_news li {
    display: block;
    padding: 2%;
    border: 1px solid #e6e6e6;
    margin-right: 16px;
    margin-bottom: 26px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #F7F7F7;
    overflow: hidden;
}

.the_news li a {
    display: block;
}

.the_news li img {
    float: left;
    width: 250px;
    height: 160px;
}

.the_news li div {
    padding-left: 280px
}

.the_news li div p.ct_new_title {
    font-weight: bold;
    font-size: 15px;
}

.the_news li div p {
    font-size: 13px;
    color: #000000;
}

div.ct-left {
    float: left;
    width: 710px;
}

ul.contact_txt li {
    padding-left: 35px;
    margin-bottom: 10px;
}

ul.contact_txt li.ct-icon1 {
    background: url(../images/contact-icon1.png) no-repeat left center;
}

ul.contact_txt li.ct-icon2 {
    background: url(../images/contact-icon2.png) no-repeat left center;
}

ul.contact_txt li.ct-icon3 {
    background: url(../images/contact-icon3.png) no-repeat left center;
}

ul.contact_txt li.ct-icon4 {
    background: url(../images/contact-icon4.png) no-repeat left center;
}

ul.contact_txt li.ct-icon5 {
    background: url(../images/contact-icon5.png) no-repeat left center;
}

ul.contact_txt li.ct-icon6 {
    background: url(../images/contact-icon6.png) no-repeat left center;
}

.wp_txt {
    margin-bottom: 15px;
}

.wp_txt input,
.wp_txt textarea {
    width: 235px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}

.wp_txt textarea {
    width: 440px;
    max-width: 440px;
}

.wp_bt input {
    background: #0072bc;
    color: #fff;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 15px;
    float: right;
}

.contact_wp {
    margin-bottom: 30px;
    overflow: hidden;
}

.wp_contact_right {
    float: right;
}

.contact_wp iframe {
    width: 465px;
    height: 325px;
    margin-bottom: 20px;
}

.contact_wp>div {
    width: 465px;
    float: left;
}

.contact_wp>div.wp_ct_right {
    float: right;
}

.clear-both {
    clear: both;
}

.wpcf7-response-output {
    margin-top: 20px;
}

.page-ct {
    display: block;
    margin-bottom: 26px;
}

.banner .bx-wrapper .ewic-caption {
    bottom: 45px !important;
}


/* Container DIV - automatically generated */

.simply-scroll-container {
    position: relative;
}


/* Clip DIV - automatically generated */

.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}


/* UL/OL/DIV - the element that simplyScroll is inited on
          Class name automatically added to element */

.simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simply-scroll-list li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.simply-scroll-list li img {
    border: none;
    display: block;
    margin: 0 auto;
}


/* Custom class modifications - adds to / overrides above

          .simply-scroll is default base class */


/* Container DIV */

.simply-scroll {
    width: 100%;
    height: 56px;
        margin-bottom: 25px;
}


/* Clip DIV */

.simply-scroll .simply-scroll-clip {
    width: 100%;
    height: 56px;
}


/* Explicitly set height/width of each list item */

.simply-scroll .simply-scroll-list li {
    float: left;
    /* Horizontal scroll only */
    width: 140px;
    height: 56px;
}


/*end content*/


/*sidebar*/

div.sidebar {
    float: left;
    width: 220px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sb-menu {
    border: 1px solid #e6e6e6;
    padding: 15px;
    box-shadow: 0px 3px 3px #F7F7F7;
    margin-bottom: 15px;
    border-radius: 5px;
}

.sb-menu li {
    padding-bottom: 13px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
}

.sb-menu li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.sb-menu li a {
    color: #333333;
    background: url(../images/circle.jpg) no-repeat left center;
    padding-left: 20px;
}

.sb-menu li a:hover {
    background: url(../images/circle-hover.jpg) no-repeat left center;
    color: #0072bc;
}

h3.sb-h3-dip,
h3.sb-h3-bag {
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    background: url(../images/h3-line-blue.jpg) no-repeat bottom left, url(../images/h3-line-gray.jpg) repeat-x bottom left;
    padding: 15px 0;
    margin-bottom: 25px;
}

h3.sb-h3-dip span,
h3.sb-h3-bag span {
    background: url(../images/icon-dip.png) no-repeat 5px center;
    padding-left: 40px;
    display: block;
}

h3.sb-h3-bag span {
    background: url(../images/icon-bag.png) no-repeat 5px center;
}

.sb-diploma {
    border: 1px solid #ececec;
    padding: 10px 10px 6px 10px;
    margin-bottom: 20px;
}

.sb-diploma li {
    display: inline-block;
    margin-right: 10px;
}

.sb-diploma li:last-child {
    margin-right: 0;
}

.sb-diploma li img {
    width: 90px;
    height: 110px;
}

div.sb-right {
    float: right;
}

.sb-right h3 {
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #333333;
}

.sb-right ul li {
    overflow: hidden;
    margin-bottom: 10px;
}

.sb-right ul li img {
    float: left;
    width: 76px;
    height: 73px;
}

.sb-right ul li p {
    padding-left: 90px;
    font-size: 11px;
    color: #333333;
}

.sb-right ul li p.sb-title {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
}

.sidebar>a>img {
    max-width: 100%;
}


/*end sidebar*/


/*footer*/

div.footer {
    margin: 0 auto;
    padding: 20px 0 10px;
    float: left;
    z-index: 99;
    position: relative;
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

.copyright {
    text-align: left;
    padding: 3px 0;
    font-size: 13px;
    color: #333333;
    clear: both;
    text-transform: uppercase;
    float: left;
}

.ft-right {
    float: right;
    width: 200px;
}

.ft-right span,
.ft-right img {
    vertical-align: middle;
}

#page-top {
    bottom: 20px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    z-index: 500;
}

#page-top a {
    background: #0072bc;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

#page-top a:hover {
    background: #5692B9;
    text-decoration: none;
}


/*end footer*/

@media only screen and (max-width: 800px) {
    div.inner {
        min-width: 0;
    }
    a.logo_top {
        float: none;
        margin: 20px auto 25px;
    }
    h1 {
        width: auto;
        margin-top: 0;
        text-align: center;
        display: block;
        float: none;
        margin-bottom: 15px;
    }
    .header_right {
        float: none;
        text-align: center;
        margin: 0 auto 20px;
    }
    .language {
        text-align: center;
    }
    .ct-service {
        text-align: center;
    }
    .intro>div {
        display: block;
        width: auto;
    }
    .diploma ul {
        text-align: center;
    }
    .diploma ul li {
        float: none;
        display: inline-block;
    }
    .bt_index1 {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
    .customer ul {
        text-align: center;
    }
    div.content-other {
        width: 100%;
        float: none;
    }
    div.sidebar {
        float: none;
        margin: 0 auto;
    }
    div.ct-intro ul {
        text-align: center;
    }
    div.ct-intro ul li {
        margin: 0 10px 10px;
    }
    div.ct-intro ul li:nth-child(even) {
        margin-right: 10px;
    }
    div.ct-intro ul li img {
        max-width: 100%;
        height: auto;
    }
    .ct-customer {
        text-align: center;
    }
    .contact_wp ul {
        float: none;
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    .contact_wp iframe {
        width: 90%;
        margin: 15px auto;
        display: block;
        float: none;
    }
    .contact_wp>div {
        float: none;
        width: 90%;
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: 500px) {
    div.banner .bx-wrapper .ewic-caption span {
        display: none!important;
    }
}
