
/*! #######################################################################

	MeanMenu 2.0.6
	--------
	
	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}
div.nav{
	height:auto;
	margin:0;
	display:none;
	}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	
	width: 100%;
	position: relative;
	background:#e88913;
	padding: 4px 0;
	min-height: 42px;
	z-index: 999999;
}

.mean-container a.meanmenu-reveal {
	width: 22px;
	height: 22px;
	padding: 13px 13px 11px 13px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	text-indent: -9999em;
	line-height: 22px;
	font-size: 1px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #ffffff;
	height: 3px;
	margin-top: 3px;
}

.mean-container .mean-nav {
	float: left;
	width: 100%;
	margin-top: 46px;
	height:auto;
}

.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
	background:url(../images/bg_menu.jpg) repeat-x left center;
	height:auto !important;
	z-index:1;
	border-bottom:1px solid #f6c07a;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 0 5%;
	margin: 0;
	text-align: center;
	z-index:9999999;
	height:43px;
}

.mean-container .mean-nav ul li a.menu_1{
	background:url(../images/menu_1.jpg) no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_2{
	background:url(../images/menu_2.jpg)  no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_3{
	background:url(../images/menu_3.jpg) no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_4{
	background:url(../images/menu_4.jpg) no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_5{
	background:url(../images/menu_5.jpg) no-repeat center center;
	}
.mean-container .mean-nav ul li a.menu_6{
	background:url(../images/menu_6.jpg) no-repeat center center;
	}	
.mean-container .mean-nav ul li a.menu_1:hover,
.mean-container .mean-nav ul li.menu_1 a.active,	
.mean-container .mean-nav ul li a.menu_2:hover,
.mean-container .mean-nav ul li.menu_2 a.active,
.mean-container .mean-nav ul li a.menu_3:hover,
.mean-container .mean-nav ul li.menu_3 a.active,
.mean-container .mean-nav ul li a.menu_4:hover,
.mean-container .mean-nav ul li.menu_4 a.active,
.mean-container .mean-nav ul li a.menu_5:hover,
.mean-container .mean-nav ul li.menu_5 a.active,
.mean-container .mean-nav ul li a.menu_6:hover,
.mean-container .mean-nav ul li.menu_6 a.active{
	opacity:0.6;
	filter:alpha(opacity=60); 
	}	
.mean-container .mean-nav ul.subNav{
    border-top: none;
}
.mean-container .mean-nav ul.subNav li{
    border-top: 1px solid #CBCBEF; 
    padding: 10px 0;
    background: #F4F4FC;
	border-bottom:none;
}
.mean-container .mean-nav ul.subNav li:hover{
	background:#7F7FBF;
	}
.mean-container .mean-nav ul.subNav li:hover a{
	color:#fff;
	}
.mean-container .mean-nav ul.subNav li a{
    font-size:11px;
	height:auto;
	color:#3b3b3b;
}

a.mean-expand{
	height:30px !important;
	position:absolute;
	width:47px !important;
	right:0px !important;
	top:13px;
	padding:0px !important;
	font-size:15px !important;
	font-weight:bold;
	border:none !important;
	color:#fff;
	}
a.mean-clicked{
	height:22px !important;
	position:absolute;
	font-size:16px !important;
	font-weight:bold;
	border:none !important;
	color:#fff;
	}
