@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a{ text-decoration:none; font-family:'Myriad Pro Regular',Meiryo, sans-serif;}
a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {
    color: #333333;
    font-family: 'Myriad Pro Regular',Meiryo,sans-serif;
    font-size: 13px;
	background:#fff;
}
/*general*/
p{
	line-height:1.6em;
	}
strong{
	font-weight:bold;
	}
a img:hover{
    opacity:0.8;
	filter:alpha(opacity=80); 
	}
div.inner {
    height: auto;
    margin: 0 auto;
    width: 100%;
	min-width:1175px;
	max-width:1175px;
	position:relative;
	clear:both;
	text-align:left;
	overflow: hidden;
}
.phone_desktop{
	font-weight:normal;
	}
.phone_mobile{
	display:none;
	font-weight:normal;
	}
/*end general*/
/*header*/
div.header {
    margin: 0;
    padding: 0;
    width: 100%;
	z-index:99;
	background:#fff;
}
h1{
	color:#333333;
	font-size:18px;
	width: 49%;
	margin: 50px auto 0;
	font-weight: bold;
	float: left;
	text-align: center;
	font-style: italic;
	}
a.logo_top{
	overflow: hidden;
	display: block;
	width: 330px;
	height: 81px;
	margin:20px 0 25px;
	float:left;
}
img.logo_top{
	width:330px;
	height: 81px;
	}
.header_right{
	float:right;
	width:260px;
	margin-top: 10px;
	}
.language{
	text-align: right;
	clear: both;
	display: block;
	width: 100%;
	margin-bottom: 15px;
}
.header_right>img{
	float: left;
}
.header_right p{
	padding-left: 60px;
	font-size: 14px;
	color: #0072bc;
	text-transform: uppercase;
}
.header_right p.no-phone{
	font-size: 25px;
	color: #333333;
}
/*end header*/			
/*menu*/
div.nav{	
	width:100%;
	display:inline-block;
	position:relative;
	z-index:99999999999;
	float:left;
	background:#0072bc;
	}
div.menu{
    margin: 0 auto;
    width: 100%;
	min-width:1175px;
	max-width:1175px;
	}
div.menu ul{
	margin:0;
	padding:0;
	display:block;
	width:100%;
	}
div.menu ul li{
	float:left;
	margin: 0 5px;
	}					
div.menu ul li a{
	width:100%;
	text-align:center;
	display:block;
	float:left;
	position:relative;
	color: #ffffff;
	font-size: 15px;
	vertical-align: middle;
	padding: 20px 5px;
	}	
div.menu ul li a img{
	vertical-align:middle;
	margin-right: 10px;
	padding-bottom: 5px;
	}
div.menu ul li a:hover{
	background: #66B0E0;
}
div.menu ul li a:hover img{
	opacity: 1;
}
/*end menu*/
/*banner*/
div.banner {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width:1173px;
    clear: both;
}
div.banner .bx-wrapper{
	margin-bottom: 0;
}
div.banner .bx-wrapper .bx-caption{
	background: #ffffff;
	color: #333333;
	width: 40%;
	bottom: 60px;
}
div.banner .bx-wrapper .bx-caption span{
	color: #333333;
	font-size: 18px;
}
/*end banner*/
/*content*/
div.content{
	height:auto;
	width:100%;
	margin-top: 10px;
	}	
div.article_index{
	width:100%;
	height:auto;
	}
h3.h3-service{
	font-size: 25px;
	color: #333333;
	background: url(../images/icon-service.png) no-repeat left center;
	padding-left: 40px;
	margin-bottom: 25px;
}
h3.h3-service span{
	color: #147dc1;
	font-weight: bold;
}
.ct-service{
	margin-bottom: 40px;
}
ul.ct-service li{
	display: inline-block;
	width: 285px;
	vertical-align: top;
	margin-right: 7px;
}
ul.ct-service li:last-child{
	margin-right: 0;
}
ul.ct-service li p{
	font-size: 13px;
	color: #999999;
	text-align: center;
}
ul.ct-service li p.title{
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	color: #333333;
}
.intro>div{
	display: inline-block;
	vertical-align: top;
	width: 370px;
	margin-right: 25px;
}
.intro>div:last-child{
	margin-right: 0;
}
.intro{
	margin-bottom: 50px;
}
.choose_us{
	border:1px solid #ececec;
}
.intro h3{
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	padding: 15px 0 15px 40px;
}
.intro h3{
	background: url(../images/h3-line-blue.jpg) no-repeat bottom left,url(../images/h3-line-gray.jpg) repeat-x bottom left;
	padding: 15px 0;
	margin-bottom: 25px;
}
.intro h3>span{
	padding-left: 40px;
	display: block;
}
.choose_us h3>span{
	background: url(../images/icon-us.png) no-repeat 10px center;
}
.the_news h3 span{
	background: url(../images/icon-news.png) no-repeat 5px center;
}
.diploma h3 span{
	background: url(../images/icon-dip.png) no-repeat 5px center;
}
.diploma h3 span.bag{
	background: url(../images/icon-bag.png) no-repeat 5px center;
}
.the_news ul li{
	display: block;
	overflow: hidden;
	margin-bottom: 35px;
}
.the_news ul li:last-child{
	margin-bottom: 0;
}
.the_news ul li img{
	float: left;
	margin-right: 20px;
}
.the_news ul li p.title{
	font-weight: bold;
	font-size: 14px;
}
.diploma ul{
	padding: 15px;
	border: 1px solid #ececec;
	overflow: hidden;
	margin-bottom: 25px;
}
.diploma ul li{
	float: left;
	margin-right: 14px;
}
.diploma ul li:last-child{
	margin-right: 0;
}
.diploma ul li img{
	display: block;
}
.choose_us img{
	display: block;
	margin:0 auto 30px;
}
.choose_us p{
	padding: 0 15px 15px 15px;
}
.choose_us p.title{
	font-weight: bold;
}
.customer{
	background: #fafafa;
}
.customer h3{
	background: url(../images/icon-customer.png) no-repeat 5px center;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	padding: 30px 0 30px 50px;
}
.customer ul{
	margin-bottom: 25px;
}
.customer ul li{
	display: inline-block;
	margin-right: 60px;
}
.customer ul li:last-child{
	margin-right: 0;
}
h3.h3-content,h3.h3-acti{
	background: url(../images/h3-line-blue.jpg) no-repeat bottom left,url(../images/h3-line-gray.jpg) repeat-x bottom left;
	padding: 15px 0;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}
div.content-other{
	width: 880px;
	float: right;
}
div.ct-intro p.txt-title{
	font-weight: bold;
	font-size: 15px;
}
div.ct-intro p{
	font-size: 13px;
	margin-bottom: 25px;
}
div.ct-intro ul{
	margin-bottom: 15px;
}
div.ct-intro ul li{
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
}
div.ct-intro ul li:nth-child(even){
	margin-right: 0;
}
.activity li{
	display: inline-block;
	margin-right: 28px;
	margin-bottom: 28px;
	width: 268px;
}
.activity li:nth-child(4n){
	margin-right: 0;
}
.activity li img{
	width: 100%;
}
.ct-customer li{
	display: inline-block;
	width: 235px;
	padding: 20px;
	border: 1px solid #e6e6e6;
	margin-right: 16px;
	margin-bottom: 26px;
	border-radius: 5px;
	box-shadow: 0px 3px 3px #F7F7F7;
}
.ct-customer li a{
	display: block;
}
.ct-customer li:nth-child(4n){
	margin-right: 0;
}
.ct-customer li img{
	margin-bottom: 20px;
}
.ct-customer li p{
	font-weight: bold;
	color: #333333;
}
.the_news li{
	display: block;
	padding: 2%;
	border: 1px solid #e6e6e6;
	margin-right: 16px;
	margin-bottom: 26px;
	border-radius: 5px;
	box-shadow: 0px 3px 3px #F7F7F7;
	overflow: hidden;
}
.the_news li a{
	display: block;
}
.the_news li img{
	float: left;
	width: 250px;
	height: 160px;
}
.the_news li div{
	padding-left: 280px
}
.the_news li div p.ct_new_title{
	font-weight: bold;
	font-size: 15px;
}
.the_news li div p{
	font-size: 13px;
	color: #000000;
}
div.ct-left{
	float: left;
	width: 800px;
}
ul.contact_txt li{
	padding-left: 35px;
	margin-bottom: 10px;
}
ul.contact_txt li.ct-icon1{
	background: url(../images/contact-icon1.png) no-repeat left center;
}
ul.contact_txt li.ct-icon2{
	background: url(../images/contact-icon2.png) no-repeat left center;
}
ul.contact_txt li.ct-icon3{
	background: url(../images/contact-icon3.png) no-repeat left center;
}
ul.contact_txt li.ct-icon4{
	background: url(../images/contact-icon4.png) no-repeat left center;
}
ul.contact_txt li.ct-icon5{
	background: url(../images/contact-icon5.png) no-repeat left center;
}
ul.contact_txt li.ct-icon6{
	background: url(../images/contact-icon6.png) no-repeat left center;
}
/*end content*/
/*sidebar*/
div.sidebar{
	float:left;
	width:270px;
	text-align:left;
	margin-top:30px;
	}
.sb-menu{
	border: 1px solid #e6e6e6;
	padding: 15px;
	box-shadow: 0px 3px 3px #F7F7F7;
	margin-bottom: 15px;
	border-radius: 5px;
}
.sb-menu li{
	padding-bottom: 13px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 15px;
}
.sb-menu li:last-child{
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: 0;
}
.sb-menu li a{
	color: #333333;
	background: url(../images/circle.jpg) no-repeat left center;
	padding-left: 25px;
}
.sb-menu li a:hover{
	background: url(../images/circle-hover.jpg) no-repeat left center;
	color: #0072bc;
}
h3.sb-h3-dip,h3.sb-h3-bag{
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	background: url(../images/h3-line-blue.jpg) no-repeat bottom left,url(../images/h3-line-gray.jpg) repeat-x bottom left;
	padding: 15px 0;
	margin-bottom: 25px;
}
h3.sb-h3-dip span,h3.sb-h3-bag span{
	background: url(../images/icon-dip.png) no-repeat 5px center;
	padding-left: 40px;
	display: block;
}
h3.sb-h3-bag span{
	background: url(../images/icon-bag.png) no-repeat 5px center;
}
.sb-diploma{
	border:1px solid #ececec;
	padding: 15px 15px 10px 15px;
	margin-bottom: 20px;
}
.sb-diploma li{
	display: inline-block;
	margin-right: 25px;
}
.sb-diploma li:last-child{
	margin-right: 0;
}
div.sb-right{
	float: right;
	width: 340px;
}
.sb-right h3{
    padding: 15px 0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
.sb-right ul li img{
	float: left;
}
.sb-right ul li p{
	padding-left: 110px;
	font-size: 13px;
}
.sb-right ul li p.sb-title{
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}
/*end sidebar*/
/*footer*/
div.footer{
	margin: 0 auto;
	padding: 30px 0 20px;
	float:left;
	z-index:99;
	position:relative;
	width:100%;
	border-top: 1px solid #e5e5e5;
	}
.copyright{
	text-align:left;
	padding:3px 0;
	font-size:13px;
	color:#333333;
	clear:both;
	text-transform: uppercase;
	float: left;
	}
.ft-right{
	float: right;
	width: 200px;
}
.ft-right span,.ft-right img{
	vertical-align: middle;
}
#page-top {
    bottom: 20px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    z-index: 500;
}
#page-top a {
    background: #8fc31f;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    width: 80px;
}
#page-top a:hover {
	background: #ff9500;
	text-decoration: none;
}
/*end footer*/